@model gpti.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>

    <h3>
        @Model.Empresa
    </h3>

    <h5>
        @Model.DadosContato  
    </h5>

</div>
