@model gpti.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Inicial";
}

<head>
    <style>
        .centraliza {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<div class="centraliza">
    <h1 class="display-4">Seja bem vindo ao sistema GPti.</h1>

    @*<h3>
            @Model.Empresa
        </h3>

        <h5>
            @Model.DadosContato
        </h5>*@

</div>
