@model LoginViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>GPTI - Login no Sistema</title>
    <style>
        html,
        body {
            height: 100%;
        }

        .container {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .box {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px;
        }

        .bg {
            background-image: url("/images/bg.jpg");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            overflow: hidden;
        }
    </style>
</head>
<body class="bg">
    <div class="container">
        <div align="center">
            <img src="~/images/logo-gpti.png" />   @*width="300"  para celular *@
            @*asp-action="GPTI"*@
            <form asp-controller="Home" asp-action="Login" method="post" class="form-horizontal" role="form" style="margin-top: 30px;">
                <input type="hidden" asp-for="ReturnUrl" />
                <div class="row">
                    <div class="col-sm-6">
                        Login:<br /><input asp-for="UserName" class="form-control" autofocus />
                    </div>
                    <div class="col-sm-6 float-right">
                        Senha:<br /><input asp-for="Password" class="form-control" />
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-sm-12" style="color: red; font-weight:bold;">
                        @Html.ValidationMessage("CustomError")
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-sm-12">
                        <input class="btn btn-primary" type="submit" value="Entrar" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
